@font-face {
  font-family: DS;
  src: url("Nintendo-DS-BIOS.ttf");
}

.layout {
  background-image: url("art/pinkiepiespin.gif");
  background-size: 20%;
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 8px;
}


.header { grid-area: header; min-width: 300px; background-color:rgb(184, 107, 255); font-family: DS; font-size: x-large }
.leftSide { grid-area: leftSide; min-width: 300px; background-color: rgb(245, 105, 175); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.body { grid-area: body; min-width: 300px; background-image: url("art/pixelArt.png"); background-color: chartreuse;}
.rightSide { grid-area: rightSide; min-width: 300px; background-color:aqua}
.footer { grid-area: footer; background-color:rgb(220, 100, 20)}

.buttonRow { white-space: nowrap;}

#GamesButton {
  background-image: url('art/GamesButton.png');
  width: 159px;
  height: 91px;
}

#GamesButton:hover {
  background-image: url('art/GamesButtonHighlighted.png');
}

#GamesButton: